logs/
screenshots/
mods.rar
journeymap/data/sp/
journeymap/journeymap.log
Valicious15
usercache.json
usernamecache.json
options.txt
saves/PlanB Official Test Flat-World/advancements
saves/PlanB Official Test Flat-World/stats
saves/New World/