# Configuration file

####################
# blackbear
####################

blackbear {
    S:biomegroups <BLACKBEAR_DEFAULT>
    B:canSpawn=true
    I:frequency=10
    I:maxChunk=4
    I:maxLightlevel=-1
    I:maxSpawn=3
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=1
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=CREATURE
}


####################
# grizzlybear
####################

grizzlybear {
    S:biomegroups <GRIZZLYBEAR_DEFAULT>
    B:canSpawn=true
    I:frequency=10
    I:maxChunk=4
    I:maxLightlevel=-1
    I:maxSpawn=3
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=1
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=CREATURE
}


####################
# pandabear
####################

pandabear {
    S:biomegroups <PANDABEAR_DEFAULT>
    B:canSpawn=true
    I:frequency=10
    I:maxChunk=4
    I:maxLightlevel=-1
    I:maxSpawn=3
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=1
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=CREATURE
}


