# Configuration file

core {
    # Sets if the gamma is automatically set to lightLevel and cannot be changed. [default: true]
    B:autoSetlightLevel=true

    # Mandated gamma level. [range: -2500.0 ~ 2500.0, default: -0.7]
    S:lightLevel=-0.7

    # Maximum gamma level you can boost to using gamma adjuster blocks. [range: -2500.0 ~ 2500.0, default: 0.0]
    S:maxLightLevel=0.0
}


damage {
    # Damage per tick in hearts. [range: 0.0 ~ 3.4028235E38, default: 4.0]
    S:darknessDamage=4.0

    # Time between damage ticks in game ticks [range: 0 ~ 2147483647, default: 40]
    I:darknessDamageDelay=40

    # Does darkness damage the player [default: false]
    B:isDarknessDamaging=false
}


dimensions {
    # What dimensions have darkness force applied [default: ]
    S:darknessWhitelist <
     >

    # What dimensions have darkness force never applied [default: ]
    S:dimensionsBlacklist <
     >

    # Is every dimension dark by default [default: true]
    B:isDarkByDefault=true
}


